@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Lato', sans-serif;
    height: 100%;
  }

  body {
    height: 100%;
    text-align: justify;
  }

  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  img:hover {
    filter: unset;
    -webkit-filter: unset;
  }

  th,
  td {
    padding: 1em 0.5em;
  }

  #__next {
    height: 100%;
  }
}
